.toDo-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  width:500px;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task{
  width: 20%;
}